body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edddd4;
}

.Weather {
  border: 7px groove rgba(94, 114, 235, 0.7);
  border-radius: 20px;
  max-width: 600px;
  margin: 30px auto;
  padding: 16px;
  background: #edddd4;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.Weather h1 {
  color: #22313f;
  font-family: "Pacifico", cursive;
  font-size: 10vmin;
  opacity: 0.86;
  display: block;
  text-align: center;
  line-height: 55px;
  font-size: 50px;
  font-weight: 200;
  text-align: left;
  width: 326px;
  padding: 0px 0px 20px;
  margin: 25px 0px 5px 0px;
  background-image: linear-gradient(
    90deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;

  animation: move 1s infinite;
}

@keyframes move {
  50% {
    background-image: linear-gradient(
      262deg,
      rgba(94, 114, 235, 1) 0%,
      rgba(255, 145, 144, 1) 56%,
      rgba(254, 193, 149, 1) 100%
    );
  }
}

.Weather li {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  line-height: 29px;
  font-size: 16px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
}

.Weather img {
  height: 74px;
  float: left;
  display: block;
  margin-top: 5px;
  width: 74px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 14px;
  position: relative;
  top: -32px;
  margin-left: 5px;
}

.Weather .HumidityWind {
  color: #5a5c5c;
}

.WeatherTemperature .temperature {
  color: #565557;
}

.WeatherTemperature {
  color: #565557;
}

.Weather .cityInfo {
  color: #5a5c5c;
}

@media only screen and (max-width: 415px) {
  body {
    max-width: 350px;
  }

  .WeatherForecast .ForecastInfo {
    display: none;
  }
}
